extends ../../layout/app.pug

block title
  | Forgot Password

block content
  script(src='/javascript/password.js')
  ul.nav.second
    li.nav-item
      a.nav-link(href="/tournaments") Back
    ii.nav-item
      a.nav-link(href="/users/new") Register
    ii.nav-item
      a.nav-link(href="/users/password_recovery/new") Forgot password?
  form(action="/users/passwords", method="post") 
    fieldset 
      legend Activating account
      input(type="hidden", name="activationCode", value=params.activationCode)
      label(for="password") Password
      br
      input(type="password", name="password")
      br
      label(for="password") Repeat password
      br
      input(type="password", name="repeatPassword")
      br
      button(type="submit") Activate