extends ../layout/app.pug

block title
  | Edit Tournament

block scripts 
  script(src='/javascript/googleMap.js') 

block content
  h2 #{tournament.name} - Edit
  a(href=(`/tournaments?id=${tournament.id}`)) Back
  .card
    .eat
    article.card
      form(action=`/tournaments/update?id=${tournament.id}`, method="post")
        include formContent.pug