extends ../layout/app.pug

block title
  | New Tournament

block scripts 
  script(src='/javascript/googleMap.js')

block content
  h2 New Tournament
  a(href=(`/tournaments`)) Back
  .card
    .eat
    article.card
      form(action="/tournaments", method="post") 
        include formContent.pug