extends ../../layout/app.pug

block title
  | Forgot Password

block content
  a(href="/users/sessions/new") Back
  span &nbsp;
  a(href="/users/new") Register
  span &nbsp;
  a(href="/users/password_recovery/new") Forgot password?
  form(action="/users/password_recovery", method="post") 
    fieldset 
      legend Recovery form
      br
      label(for="email") Email
      br
      input(type="text", name="email", value=params.email)
      br
      button(type="submit") Recover