extends ../../layout/app.pug

block title
  | Login

block content
  ul.nav.second
    li.nav-item
      a.nav-link(href="/tournaments") Back
    ii.nav-item
      a.nav-link(href="/users/new") Register
    ii.nav-item
      a.nav-link(href="/users/password_recovery/new") Forgot password?
  form(action="/users/sessions", method="post") 
    fieldset 
      legend Login form
      br
      label(for="email") Email
      br
      input(type="text", name="email", value=params.email)
      br
      label(for="password") Password
      br
      input(type="password", name="password", value=params.password)
      br
      button(type="submit") Login