extends ../layout/app.pug

block title
  | Register

block content
  ul.nav.second
    li.nav-item
      a.nav-link(href="/tournaments") Back
    ii.nav-item
      a.nav-link.active(href="/users/new") Register
    ii.nav-item
      a.nav-link(href="/users/password_recovery/new") Forgot password?
  form(action="/users", method="post")
    fieldset 
      legend User data 
      include ../shared/validationErrors.pug
      label(for="firstName") First name 
      br
      input(type="text", name="firstName", value=user.firstName)
      br
      label(for="lastName") Last name 
      br
      input(type="text", name="lastName", value=user.lastName)
      br
      label(for="email") Email
      br
      input(type="text", name="email", value=user.email)
      br
      button(type="submit") Register