doctype html
html
  head
    title
      block title
    link(rel="stylesheet", href="/css/app.css")
    block scripts
  body
    script(src='/javascript/app.js')
    nav 
      a(href="/tournaments") Tournaments
      span &nbsp;
      if currentUser 
        a(href="/users/sessions/destroy") Logout
      else
        a(href="/users/sessions/new") Login
      span &nbsp;
      a(href="/users/new") Register
    .main 
      if notice 
        p.notice #{notice}
      if error 
        p.error #{error}
      block content
    footer App inc.