doctype html
html
  head
    title Recover yout account
  body
    h1 Welcome to App
    p If you used to recover account in our service please follow the link below to finish this process
    p Otherwise ignore this email
    div
      a(href=(activationUrl)) Recover account
    footer App inc.