doctype html
html
  head
    title Hello Pug
  body
    p.greetings#people Hello World!
    h2 Users 
    a(href="/users/new") New
    ul
      each user in users
        li #{user.firstName} #{user.lastName}