doctype html
html
  head
    title Hello Pug
  body
    if notice 
      p.notice #{notice}
    h2 Users 
    a(href="/users/new") New
    ul
      each user in users
        li #{user.firstName} #{user.lastName}